RewriteCond %{REQUEST_PATH} !-f
RewriteCond %{REQUEST_PATH} !^/j_spring_security_check
RewriteCond %{REQUEST_PATH} !^/api/(.*)
RewriteCond %{REQUEST_PATH} !^/services/(.*)
RewriteCond %{REQUEST_PATH} !^/ExportData
RewriteCond %{REQUEST_PATH} !^/upload
RewriteCond %{REQUEST_PATH} !^/downloadService
RewriteRule ^/(.*) /index.html